.container{
    margin-top: 40px;
    h2{
        padding: 10px;
        text-align: center;
    }
    display: flex;
    background-color: #cdbc93;
}
.uzklausa{
    margin: auto;
    padding-bottom: 20px;
}
.greitis{
    font-size: 26px;
    font-weight: 700;
}
table{
    margin: auto;
}