body{
    background-image: url(Ferrari_Retro.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Martel Sans', sans-serif;
    #back{
        display: table-cell;
        position: absolute;
        background-color: rgba(183, 189, 189, 0.3);
        font-size: 12px;
        text-decoration: none;
        left: 1em;
        top: 1em;
        padding: 5px;
        color: rgba(0, 0, 0, 0.616);
        border-radius: 5px;
    }
    main{
        min-height: 35vw;
      }
    .container{
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        form{
            background-color: rgba(183, 189, 189, 0.3);
            padding:0.5em;
            border-radius: 5px;
            font-size: 18px;
            input{
                border-radius: 5px;
                outline: none;
            }
            button{
                margin-left: 1em;
                font-size: 16px;
                padding: 0.4em;
                border-radius: 5px;
                outline: none;
                background: rgb(229, 12, 21);
                color: whitesmoke;
                border: 1px solid rgb(219, 67, 72);;
            }
            button:hover{
                background: rgb(229, 12, 21);
                color: whitesmoke;
            }
            button:active{
                outline: none;
                transform: scale(0.94);
            }
            margin: auto;
        }
    }
    table{
        background-color: rgba(183, 189, 189, 0.5);
        margin: auto;
        margin-top: 1em;
        padding: 0.5em;
        border-radius: 5px;
        .topleft {
            border-top-left-radius: 5px;
        }
        .topright {
            border-top-right-radius: 5px;
        }
        .thead-light th {
            // background-color: rgba(225, 230, 233, 0.7);
            border: none;
        thead td{
            text-align:center;
            width: 11.5em;
            font-size: 18px;
            font-weight: 700;
        }
        tbody td {
            text-align:left;
            padding-left: 3em;
            font-size: 16px;
            font-weight: 400;
        }

    }
    .select{
        background-color: rgba(93, 95, 95, 0.5);
        color: whitesmoke;
    }
}

}
footer {
    border-top: 3px solid rgb(229, 12, 21);
    color: rgb(229, 12, 21);
    font-size: 13px;
    flex-wrap: wrap;
    background-color: rgba(192, 199, 209, 0.75);
    .list-group-item {
      color: rgb(229, 12, 21);
      font-size: 12px;
      margin-left: 2em;
      background-color: rgba(192, 199, 209, 0);
      border: none;
      a{
        color: rgb(229, 12, 21);
      }

    }
  }