
body{
    background-image: url('scale.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-color:  $smelis;
    font-family: 'Oswald', sans-serif;
    color: seashell;
    a{
        position: absolute;
        top: 1em;
        left: 1em;
        border: 1px solid $red;
        color: $red;
        border-radius: 5px;
        padding: 0.2em 0.4em;
        text-decoration: none;
        font-size: 12[x];
    }
    #div{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 1em;
        background-color: $pilka;
        color: seashell;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px grey;
        font-weight: 500;
        font-size: 35px;
    }
    form{
        margin: auto;
        margin-top: 3em;
        label{
            font-size: 35px;
            font-weight: 500;

        }
        
    }
    .btn-primary{
        background-color: $red;
        border: none;
        font-size: 25px;
    }
    .btn-primary:hover{
        background: rgb(189, 85, 80);
        outline: none;
    }
    .btn.btn-primary:active{
        background: rgb(189, 85, 80);
        border: none;
        outline: none;
    }
}
@media (max-width: 720px){
    body{
        background-size: 100%; 
    }


}