body{
    background-color: bisque;
}
a{
    display: block;
    margin-left: 2em;
    padding-top: 1em;
}
.container{
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url(png/triangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
   
    height: 100vh;
    margin-bottom: 40px;
    padding: 30px;
    h1{
        font-weight: 900;
    }
}
button:active{
    transform: scale(0.97);
}
.atsakas{
   margin-top: 30px;
    padding: 40px 0px 100px 20px;
    width: 50%;
    background-color: rgba($color: #b5c96c, $alpha: 0.6);
    border: #065f5e 1px solid;
    border-radius: 10px;
    box-shadow: lightslategrey 1px 1px 10px 1px;
}
