body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 5px;
}
header h1, p, button{
    margin-top: 20px;
    margin-left: 20px;
}
header button{
    position: relative;
    text-align: center;
}
main{
    border: grey 2px solid;
    border-radius: 10px;
    width: 1200px; 
    height:600px; 
    margin:auto; 
    background-color:burlywood; 
    position: relative;
}
button{
    border: 1px solid #006250;
    padding: 1vw; 
    position: absolute; 
    border-radius: 10px; 
    outline: 0;
    color: oldlace;
    background-color: #006280;
}
button:active{
    transform: scale(0.97); 
}
#r992{
    display: none;
}
#r768{
    display: none;
}
#r576{
    display: none;
}
#r375{
    display: none;
}
#r320{
    display: none;
}

@media (max-width: 992px){
    h1{
        font-size: 1.8em;
    }
    p{
        font-size: 0.9em;
    }
    main {
        width: 850px;
    }
    #r1200{
        display: none;
    }
    #r992{
        display: block;
    }
    #r768{
        display: none;
    }
    #r576{
        display: none;
    }
    #r375{
        display: none;
    }
    #r320{
        display: none;
    }
    button{
        padding: 1.5vw; 
    }
}

@media (max-width: 768px){
    h1{
        font-size: 1.7em;
    }
    p{
        font-size: 0.8em;
    }
    main {
        width: 680px;
    }
    #r1200{
        display: none;
    }
    #r992{
        display: none;
    }
    #r768{
        display: block;
    }
    #r576{
        display: none;
    }
    #r375{
        display: none;
    }
    #r320{
        display: none;
    }
    button{
        padding: 2vw; 
    }
}

@media (max-width: 576px){
    h1{
        font-size: 1.5em;
    }
    p{
        font-size: 0.7em;
    }
    main {
        width: 490px;
    }
    #r1200{
        display: none;
    }
    #r992{
        display: none;
    }
    #r768{
        display: none;
    }
    #r576{
        display: block;
    }
    #r375{
        display: none;
    }
    #r320{
        display: none;
    }
    button{
        padding: 2.5vw; 
    }
}
@media (max-width: 375px){
    h1{
        font-size: 1.3em;
    }
    p{
        font-size: 0.6em;
    }
    main {
        width: 300px;
    }
    #r1200{
        display: none;
    }
    #r992{
        display: none;
    }
    #r768{
        display: none;
    }
    #r576{
        display: none;
    }
    #r375{
        display: block;
    }
    #r320{
        display: none;
    }
    button{
        padding: 3vw; 
    }
}
@media (max-width: 320px){
    h1{
        font-size: 1em;
    }
    p{
        font-size: 0.5em;
    }
    main {
        width: 270px;
    }
    #r1200{
        display: none;
    }
    #r992{
        display: none;
    }
    #r768{
        display: none;
    }
    #r576{
        display: none;
    }
    #r375{
        display: none;
    }
    #r320{
        display: block;
    }
    button{
        padding: 4vw; 
    }
}