body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 10px;
}
header h1, p, button{
    margin-top: 30px;
    margin-left: 30px;
}
header button{
    position: relative;
    text-align: center;
}
main{
    border: grey 2px solid;
    border-radius: 10px;
    width: 1000px; 
    height:600px; 
    margin:auto; 
    background-color:burlywood; 
    position: relative;
}
button{
    border: 2px solid grey;
    padding: 1.5vw; 
    position: absolute; 
    border-radius: 10px; 
    outline: 0;
}
button:active{
    transform: scale(0.97); 
}
